@theme {
  --color-primary: #e3001b;
  --color-secondary: #101010;
}

.hide-scrollbar {
  overflow: auto; /* hoáº·c overflow-y:auto */
  -ms-overflow-style: none; /* IE 10+ */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  width: 0;
  height: 0;
}
