@import "./css/fonts.css";
@import "tailwindcss";
@import "./css/variables.css";
@import "./css/keyframes.css";

body {
  font-family: "Lexend", sans-serif;
  background-color: #f5f5f5;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE và Edge */
  scrollbar-width: none; /* Firefox */
}
